<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.database_moiConnectionString"
            connectionString="Data Source=GF75-THIN-9RCX\SQLEXPRESS;Initial Catalog=database_moi;Persist Security Info=True;User ID=sa;Password=000000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>